*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #210635;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 10px;
    background: #9532e0;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
}

input {
    margin-top: 10px;
    padding: 8px;
    width: 70%;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: #0c0420;
    color: white;
    border-radius: 5px;
}


img {
    width: 100px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
}